img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

div {
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border-style: solid dashed;
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: cursive;
    color: #58291F;
    font-family: cursive;
}